<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">	
	<title>HelloWride Layots</title>
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/6.0.0/normalize.css">
	<link rel="stylesheet" href="hellowride-style.css">
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="header_box1">
				<div class="header__logo-left">The</div> <div class="header__logo-right">Point</div> <div class="header__description">| Free PSD Website Template</div>		
				<form class="header__search">
					<input type="text" name="" class="header__search-field" placeholder="Search our website...">
					<button class="header__search-button">Search</button>		
				</form>	
			</div>
			<div class="header_box2">
				<nav class="top-menu">
					<ul class="top-menu__list">
						<li class="top-menu__item">Homepage <br><span class="top-menu__item2">text text here</span></li>
						<li class="top-menu__item">Style Demo <br><span class="top-menu__item2">text text here</span></li>
						<li class="top-menu__item">Full width <br><span class="top-menu__item2">text text here</span></li>
						<li class="top-menu__item">Portfolio <br><span class="top-menu__item2">text text here</span></li>
						<li class="top-menu__item">Gallery <br><span class="top-menu__item2">text text here</span></li>
						<li class="top-menu__item">Dropdown <br><span class="top-menu__item2">text text here</span></li>
					</ul>
				</nav>
				<div class="social">
					<ul class="social__list">
						<li class="social__item linkedin"><img src="../Layouts/icon-linkedin.png" alt=""></li>
						<li class="social__item twitter	"><img src="../Layouts/icon-twitter.png" alt=""></li>
						<li class="social__item pinterest"><img src="../Layouts/icon-pinterest.png" alt=""></li>
						<li class="social__item google-plus"><img src="../Layouts/icon-google-plus.png" alt=""></li>
						<li class="social__item rss"><img src="../Layouts/icon-rss.png" alt=""></li>
					</ul>
				</div>
			</div>
		</header>
		<div class="content">
			<div class="slider">
				<img src="" alt="">
				<div class="slider__text"><p>1950 x 500px</p> <p>USE CAMERA SLIDER</p></div>
				<div class="clear"></div>
			</div>	
			<div class="slider__description">Dapiensociis temper donec auctortortis cumsan et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt sed.</div>
		</div>
		<footer>
				
		</footer>
	</div>	
</body>	
</html>